<style>

</style>

<div class="grid landing-page-section">
  <div class="grid__item one-whole">

    <h2 class="headline2">{{section.settings.landing_page_title}}</h2>
  </div>
  <div class="grid__item one-whole">
    <img
         src="{{section.settings.landing_page_hero | img_url: 'master'}}"
         alt=''
         class="">
  </div>
  <div class="grid__item one-whole">
    <div class="paragraph1 small--font-size text-center">{{section.settings.hero_description}}</div>
  </div>
</div>
