<a data-pin-do="buttonBookmark" href="https://www.pinterest.com/pin/create/button/">
  <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
</a>
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
