<link rel="stylesheet" href="{{ 'ccf-dropdown.min.css' | asset_url }}">

<div id="product-dropdown-size-filter" data-app="https://shopify-ccf.herokuapp.com" data-shop="tuckernyc" data-filter="filter-0" value="closed" class="dropdown"></div>

<script src="https://shopify-ccf.herokuapp.com/public/size-handler.js" type="text/javascript"></script>
