<style>
  #subheadline_return{
    color: #4a4a4a;
    font-size: 40px;
    letter-spacing: 0.6px;
    font-style: normal;
    font-family: "adobe-caslon-pro", serif;
    line-height: 48px;
    margin-top: 44px;
    font-weight: 700;
  }
  .subparaff {
    color: #969595;
    font-size: 18px;
    letter-spacing: 0.8px;
    font-family: "fontin_sans_rgregular", "Georgia", serif;
    line-height: 25px;
  }
  body#returns.template-page {
    background-color:#FFF;
  }
</style>

<script>
	window.location.replace("https://returns.tuckernyc.com/");
</script>
  
  
<div class="section-content">
  <div class="grid">
    <div class="grid__item">
      <h2 class="headline2 border-bottom" style="margin: 0px; margin-top:20px;">Returns &amp; Conditions</h2>
    </div>
    <iframe id="bestreturnappever" width="0" height="0" style="border:none;margin-top:75px;"></iframe>
    <script src="https://cosmo2.herokuapp.com/returns/returns.js?key=12345678"></script>
    <div class="grid__item large--eight-twelfths push--large--two-twelfths">
      <p id="subheadline_return">
         RETURNS
      </p>
      <p class="subparaff">
        We offer FREE RETURNS for domestic orders within 30 days of delivery. Please note that items marked FINAL SALE cannot be returned.<br /><br />
        To process a return, enter your email and order number in the Return Portal above. We will respond with a free return shipping label within one business day.
        Any merchandise that looks worn, washed, broken, is missing tags or receipt will not be refunded.
        <br />
        </p>
      <p class="subparaff">
        Refunds will be processed within 3 business days of receiving your return. You will receive a confirmation email once the refund is issued. Please allow up to 14 days for the credit to appear on your original method of payment.
       <br />
        </p>
        <p class="subparaff">
       	For international returns, any customs or import duties, brokerage fees, or taxes paid on return shipments are the sole responsibility of the customer. In the event you refuse your package, all charges related to the refused order will be the responsibility of the customer (the party ordering the goods) and will be deducted from the customer's refund. Any costs, duties, fees, or taxes cannot be refunded. Any international exchange must be placed as a new order.
		</p>
      <p id="subheadline_return">
        EXCHANGES FOR US ORDERS
      </p>
      <p class="subparaff">
        To exchange an item, please complete the return form above and send us an email at <a style="text-decoration:underline;" href="mailto:hello@tuckernyc.com">hello@tuckernyc.com</a>
        indicating which item(s) you are returning and what item, color, and size you would like for your exchange. We
        will respond with a free return shipping label within one business day.
      </p>
      <p class="subparaff">
        Please see our return policy above and note that we can exchange for alternate sizes only. For an alternate color
        or item, a new order must be placed. If your requested item has completely sold out, we will notify you by email
        and will refund you instead.
      </p>
      <p class="subparaff">
        Please note all items marked FINAL SALE are not eligible for exchange.
      </p>
        <p class="subparaff">
          If you have any questions or concerns, please feel free to send us an email at <a style="text-decoration:underline;" href="mailto:hello@tuckernyc.com">hello@tuckernyc.com</a>.
        </p>
    </div>
  </div>
</div>
