<!-- /templates/page.liquid -->

<div class="gray-background">

  <div class="creator-headline-placement page-container" >
    <h1 class="headline">{{ page.title }}</h2>
  </div>

  <div class="grid white-background">
    <div class="section-content">
      {% section 'the-creator-scheme' %}
    </div>
  </div>

</div>
