<style>

{% capture content %}
  .slider-horizontal ~ .slider-horizontal { display: none}
hr {

  margin:10px 0px;
  border-width:1px;
}

  .title {
    margin: 20px 30px 10px;
  }


.review-body-name {
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
}

.review-print-name {
    font-size: 18px;
    line-height: 18px;
    font-family: "garamond-premier-pro-display";
    font-weight: 400;
    font-style: italic;
    padding: 12px 0px;
    text-decoration: none;
}

  .review-content p {
  	font-size: 14px;
  }

  .review-image {
  	text-align: center;
  }

  .no-review-img .review-image {
  	display: none;
  }
 #overall-fit-bodyName {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: max-content;
 }

  #overall-fit-bodyName .star-rating {
      margin-right: 70px;
	  font-size: 20px;
  }

  #overall-fit-bodyName .star-rating span:last-child {
  	font-size: 14px;
    padding-bottom: 5px;
  }

  #overall-fit-bodyName .slider-tick-label-container {
  	display: flex;
    justify-content: space-between;
  }

@media only screen and (min-width: 768px) {
    .review-wrapper {
        display: flex;
    }
    .review-left-wrapper {
        display: flex;
        flex-direction:row;
    }
    .review-right-wrapper {
        display: flex;
        flex-direction:column;
        flex-basis:75%;
        border: 0px solid #f5f5f5;
    }
  .no-review-img .review-right-wrapper {
  	flex-basis: 100%;
  }
  .review-image {
    flex-basis: 25%;
    align-items: right;
    display: flex;
    align-items: center;
  }
    .review-user-wrapper {
        display: flex;
        flex-direction:row;
    }
    .review-content-wrapper {
        display: flex;
        flex-direction:row;
    }
}


@media only screen and (max-width: 767px) {

    .review-left-wrapper {
        text-align:center;
    }

    .review-user,
    .review-content {
      padding: 10px;

  }

  .review-product-name {
      padding:10px;
      background:#F2DEDD;
  }


  .review-product-image {
      padding-top:10px;
  }

}


@media only screen and (min-width: 768px) {

    .review-user,
    .review-content {
      padding: 0px;

  }

  .review-product-name {
      padding:22px;
      background:#F2DEDD;
      height:105px;
  }


  .review-product-image {
      padding-top:0px;
  }

}



/* review-user */

@media only screen and (min-width: 768px) {
    .review-user {
        flex-basis:100%;
        background:#F1F0EE;
        padding-bottom:0px;
        flex: none;
    }
}

@media only screen and (max-width: 767px) {
    .review-user {
        border-bottom: none;
      background:#F1F0EE;
    }
}


/* review-user-wrapper */

  @media only screen and (min-width: 768px) {
    .review-user-wrapper {
    height:105px;
    }
}


/* review-user-rating */

@media only screen and (min-width: 768px) {
    .review-user-rating {
        flex-basis:50%;
/*         background:#F1F0EE; */
      padding: 12px 0px 12px 24px;
    }
}

@media only screen and (max-width: 767px) {
    .review-user-rating {
        border-bottom: none;
/*       background:#F1F0EE; */
        padding: 12px 0px 15px 24px;
    }
}


/* review-user-info */

@media only screen and (min-width: 768px) {
    .review-user-info {
        flex-basis:50%;
/*         background:#F1F0EE; */
        padding: 42px 0px 0px 24px;
    }
}

@media only screen and (max-width: 767px) {
    .review-user-info {
        border-bottom: none;
/*       background:#F1F0EE; */
        padding: 24px 0px 15px 24px;
    }
}


/* review-content */

@media only screen and (min-width: 768px) {
    .review-content {
        border-left: none;
        flex-basis:100%;
        padding: 0 0px 0px 24px;
        flex:1;
    }

@media only screen and (max-width: 767px) {
    .review-content {
        border-top: none;
        font-size: 14px;
        padding: 0px 0px 0px 24px;
    }
}


/* review-content-title */

@media only screen and (min-width: 768px) {
    .review-content-title {
        flex-basis:90%;
      padding: 0;
    }
}

@media only screen and (max-width: 767px) {
    .review-content-title {
        border-bottom: none;
        padding: 12px 0px 0px 0px;
    }
}


/* review-content-slider */

@media only screen and (min-width: 768px) {
    .review-content-slider {
        flex-basis:50%;
    }
}

@media only screen and (max-width: 767px) {
    .review-content-slider {
        border-bottom: none;
        padding: 12px 0px 0px 24px;
    }
}
{% endcapture %}
{% assign content =  content | strip_newlines | split: " " | join: " " | split: "*/" %}
{% assign new_content = "" %}
{% for word in content %}
	{% assign new_word = word | split: "/*" | first | strip %}
  	{% assign new_content = new_content | append: new_word %}
{% endfor %}
{{ new_content }}
</style>
{% assign review-server = "https://resonance-pr.herokuapp.com/" %}
<!-- /templates/page.liquid -->
<div class="grid">
<div class="grid__item one-whole">
   <h1 class="title headline2">{{ page.title }}</h1>
   <hr>
   {% comment %}
   Regular page content goes here.
   {% endcomment %}
   <div class="rte" style="padding-top:15px;">
      <div style="text-align:right;padding-right:30px;font-family: fontin_sans_rgregular;">
         <div id="review-filter" style="display:inline-block;">
            <label for="review-filter-by">Filter by:</label>
            <select id="rw-filter-by" style="padding:2px 24px 2px 8px;font-family: fontin_sans_rgregular;">
               <option value=''>All</option>
            </select>
         </div>
         <div id="review-sorter" style="display:inline-block;padding:20px 0px 0px 40px">
            <label for="sort-by">Sort by:</label>
            <select id="rw-sort-by" class="" style="padding:2px 24px 2px 8px;font-family: fontin_sans_rgregular;">
               <option value="latest">Latest</option>
               <option value="highest-rated">Highest Rated</option>
               <option value="lowest-rated">Lowest Rated</option>
            </select>
         </div>
         <input id="rw-page" type="hidden" name="page" value="1">
      </div>
      <div id="overall-fit-bodyName" data-app="{{review-server}}" data-shop="tuckernyc" style="display:none;padding:25px 0px 25px 0px;text-align:center;"></div>
      <div id="product-review-page-container" data-app="{{review-server}}" data-shop="tuckernyc" data-page="1" >
        {% include 'preloaded-reviews-tuckernyc' %}
      </div>
      <script type="text/template" id="rw-product-page-template">
         <div class="rw-row ${noReviewImage}" style="padding-top:25px; border-bottom: 1px solid #96989e3d;">

             <div class="review-wrapper">

                     <div class="review-left-wrapper">
                       <a class="${published}" href=${pUrl} style="text-decoration:none;">
                     <div class="review-product-name">

                             <div class="review-body-name"> ${bodyName} </div>
                             <div class="review-print-name"> ${colorVariant}</div>

                     </div>

                         <div class="review-product-image">

                             <img width="250px" class="lazyload" data-src="${imgUrl}">

                     </div>
                         </a>
                     </div>

                     <div class="review-right-wrapper">
                     <div class="review-user">

                           <div class="review-user-wrapper">

                             <div class="review-user-rating">
                           <div class="star-rating star-${starRating}" style="text-align:left;">
                               <span>★</span>
                                 <span>★</span>
                                 <span>★</span>
                                 <span>★</span>
                                 <span>★</span>
                         </div>
                       <h4 class="u-name" style="font-size:20px;padding:0px 0px 0px 0px;margin:0 0 0 0;">${name}</h4>
                             <span style="font-size:13px;font-style:italic;color:black;padding-top:0px;">${date}</span>
                               </div>

                                 <div class="review-user-info">

                                 <div class="review-body-name" style="padding-bottom:5px;">Wears Size:&nbsp;&nbsp;&nbsp;&nbsp;<span>${sizeOrdered}</span></div>
                                     <div class="review-body-name">Height:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>${height}</span></div>

                               </div>

                             </div>


                 </div>

                     <div class="review-content">
                           <div class="review-content-wrapper">
                             <div class="review-content-title">
                                                <div class="review-content-slider">
                             <div style="font-style:italic;text-decoration:underline;"> Overall Fit: </div>
                             <input
                               type="text"
                               name="overallFit"
                               data-provide="slider"
                               data-slider-ticks="[1, 2, 3, 4, 5]"
                               data-slider-ticks-labels='["Runs Small", "", "", "", "Runs Large"]'
                               data-slider-min="1"
                               data-slider-max="5"
                               data-slider-step="1"
                               data-slider-value=${overallFit}
                               data-slider-selection="none"
                               data-slider-handle="square"
                               data-slider-tooltip="hide">
                           </div>
                             <p style="padding-top:50px; font-size: 18px; text-decoration: underline;"><span style="font-style:italic;">${title}</span></p>
                             <p style="padding-left:30px;color:black;">${fit}. ${design} </p>
                           </div>


                   </div>
                     </div>

           </div>
           <div class="review-image">
             <img data-src="${rwImgUrl}" class="lazyload" alt="Review">
           </div>

         </div>

      </script>
      <script type="text/template" id="rw-overall-star-rating">
         <div class="star-rating star${star_rating}" style="text-align:left;">
             <span>★</span>
             <span>★</span>
             <span>★</span>
             <span>★</span>
             <span>★</span>
         </div>
      </script>
   </div>
</div>
</div>
