<div class="section-content">
  <div class="grid--full info">
    <div class="grid__item large--one-whole">
      <div class="info__header">
        <h2 class="headline2 border-bottom" style="margin:0px; text-align:left;">{{page.title}}</h2>
      </div>
    </div>
    <div class="grid__item large--eight-twelfths push--large--two-twelfths">
      {{ page.content }}
    </div>
  </div>
</div>
