<!-- /templates/page.liquid -->
<div class="section-content">
  <div class="grid">

    <div class="grid__item large--one-whole">
      <h2 class="headline2 border-bottom" style="margin-top: 24px;">{{ page.title }}</h2>
    </div>

    {% section 'stories-scheme' %}

  </div>
</div>

