<div class="grid">

  <div class="row">
    <div class="grid__item one-whole">

	  <div class="music-series-text">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <b>Please wait while the page loads...</b>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
      
      
    </div>
  </div>
