<div class="section-content">
  <div class="grid--full info">
    <div class="grid__item large--eight-twelfths push--large--two-twelfths">
      {% include 'size-chart' %}
    </div>
  </div>
</div>

